# --- Application Config ---
PORT=
NODE_ENV=
SLOT_GENERATION_DAYS=

# --- Database Secrets ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Prisma URL 
DATABASE_URL=

# --- Temporal Config ---
TEMPORAL_ADDRESS=
TEMPORAL_NAMESPACE=
TEMPORAL_SLOT_TASK_QUEUE=
TEMPORAL_NOTIFICATION_TASK_QUEUE=

# --- SMTP Config ---
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=
EMAIL_FROM=

# --- Google OAuth Config ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=